<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Minha lista de filmes</title>
</head>
<body>
    <h1 style="text-align: center;">Minha lista de filmes</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <th>Nome</th>
                        <th>Tamanho</th>
                        <th>Status</th>
                        <th>Genero</th>
                        <th>Plataforma</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for filme in filmes %}
                        <tr>
                            <td>{{filme.nome}}</td>
                            <td>{{filme.tamanho}}</td>
                            {% if filme.status == 'assistido' %}
                                <td style="color: royalblue">{{filme.status}}</td>
                            {% else %}
                                <td style="color: limegreen">{{filme.status}}</td>
                            {% endif %}
                            <td>{{filme.genero}}</td>
                            <td>{{filme.plataforma}}</td>
                            <td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="/filme/create" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Novo</a>
            </div>
        </div>
    </div>
</body>
</html>